<h1 class="text-center">Students</h1>
<a href="/api/students/create" class="btn btn-primary">Create</a>

<ul class=" list-group">
    {{#each deletedStudent}}
    <li class="list-group-item text-right">
        <strong>ID:</strong> {{id}}
        <strong>Name:</strong> {{studentname}}
        <strong>Gender:</strong> {{gender}}
        <strong>Level:</strong> {{classlevel}}
        <strong>Home:</strong> {{homestate}}
        <strong>Major:</strong> {{major}}
        <strong>Extra Curricular:</strong> {{extracurricularactivity}}
        <a href="/api/students/{{id}}" class="btn btn-success">EDIT</a>
        <a href="/api/students/delete/{{id}}" class="btn btn-danger">X</a>
    </li>

    {{/each}}
</ul>

<a href="/api/students" class="btn btn-dark mt-4 mb-4">Check Students</a>