<h1 class="text-center mb-3">Edit {{title}}</h1>
{{#each foundStudent}}
<form action="/api/v2/students/edit/{{id}}?_method=PUT" method="post" class="mb-4">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="studentname" value="{{studentname}}" class="form-control">
    </div>
    <div class="form-group">
        <label for="gender">Gender</label>
        <input type="text" name="gender" value="{{gender}}" class="form-control">
    </div>
    <div class="form-group">
        <label for="classlevel">Level</label>
        <input type="text" name="classlevel" value="{{classlevel}}" class="form-control">
    </div>
    <div class="form-group">
        <label for="homestate">Home</label>
        <input type="text" name="homestate" value="{{homestate}}" class="form-control">
    </div>
    <div class="form-group">
        <label for="major">Major</label>
        <input type="text" name="major" value="{{major}}" class="form-control">
    </div>
    <div class="form-group">
        <label for="extracurricularactivity">Extra Curricular</label>
        <input type="text" name="extracurricularactivity" value="{{extracurricularactivity}}" class="form-control">
    </div>
    {{/each}}
    <input type="submit" class="btn btn-success btn-block" value="Ready" />
</form>