<h1 class="text-center">Students</h1>
<a href="/api/v2/students/create" class="btn btn-primary">Create</a>

<ul class=" list-group">
    {{#if message}}
    <div class="alert alert-success m-4" role="alert">
        {{message}}
    </div>
    {{/if}}
    {{#each filtered}}
    <form action="/api/v2/students/delete/{{this.id}}?_method=DELETE" method="post" class="mb-4">

        <li class="list-group-item text-right">
            <strong>ID:</strong> {{this.id}}
            <strong>Name:</strong> {{this.studentname}}
            <strong>Gender:</strong> {{this.gender}}
            <strong>Level:</strong> {{this.classlevel}}
            <strong>Home:</strong> {{this.homestate}}
            <strong>Major:</strong> {{this.major}}
            <strong>Extra Curricular:</strong> {{this.extracurricularactivity}}
            <a href="/api/v2/students/edit/{{this.id}}" class="btn btn-success">EDIT</a>
            <input type="submit" class="btn btn-danger" value="X" />
        </li>
    </form>
    {{/each}}

</ul>

<a href="/api/v2/students" class="btn btn-dark mt-4 mb-4">Check Students</a>